body, html {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: grey;
    border: 2px solid black;
    margin: auto;
}

#display-area {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 2px solid black;
    height: 50px;
    width: 98%;
    background-color: green;
    margin-bottom: 2%;
    font-size: 45px;
}

button {
    width: 50px;
    height: 40px;
    border-radius: 10px;
    margin: 1px;
}

#operators{
    display: flex;
    flex-direction: column;
}

#button-area {
    border: 2px solid darkgray;
    padding: 10px;
    border-radius: 10px;
}